.DS_Store
/build/debug
/build/release
/build/Makefile
*/build/debug
*/build/release
*/build/Makefile
*.ninja
*.o
*.a
*.make
compile_commands.json
**/ipch/**
**/cquery_cached_index/**
dependencies/glfw
dependencies/glfw_build
dependencies/skia
*.xcodeproj
*.xcworkspace
